<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="BaseDirectory" value="C:\Workspace\MobileUpdater\MAUFiles"></add>
	<add key="DeveloperId" value="vardhan@techmaticsys.com" />
	  <!--Made code changes upc as code and sku as number from responc,if new store comes do not need to add appconfig lines -->
	<!--upc from number(api response) for the stores 10899 -->
	     <!--<add key="different_upc" value="10397;10412;10702;10999;11087;11071;11112;11268;11404;11481;11480;11703;11693;11730;11739;11784"/>-->
	     <add key="different_upc" value="10899,11950"/>	  
	    <!--deposit for the store 11071-->
	     <add key="deposit" value="11071"/>
	    <!--qty for particular category for store 10397-->
	     <add key="qty" value="10397"/>
	  <!--cat based for the store 10412-->
	     <add key="catbased" value="10412"/>
	  <!--different qty for storeid 10412 for beer products-->
	  <add key="difqty" value="10412"/>
	    <!--stocklist for the store 10397-->
	     <add key="stocklist" value="10397"/>
	  	 <!--cat filters for the store 11268-->
	     <add key="catfilter" value="11268"/>
	  	 <!--static qty 999 for the store 11087-->
	     <add key="qtystatic" value="11087;12383"/>
	  <!--tax from api response-->
	  <add key="tax_rate" value="10702"/>
    <!--Non-Stock List Qty -->
    <add key="Nonstocklistqty" value="11404,11455;12405"/>
    <!--Considering Tag as UOM -->
	  <add key="tagasuom" value="11481"/>
	  <!--sprice and start_end -->
	  <add key="sprice" value="11480"/>
	  <!--having different taxes -->
	  <add key="tax_category" value="11703"/>
	  <!--Adding discountable column -->
	  <add key="dicountable" value="11481;12302"/>
	  <!--having different sku -->
	  <!--<add key="different_sku" value="11703;11730;11739;11376;11784"/>-->
	  <add key="different_sku" value="10412;10702;10397;10899;10999;11087;11071;11112;11268;11404;11481;11480;11693"/>
	  <add key="upcnull" value="11376"/>
	  <add key="skunull" value="12205"/>
	  <!--Endpoint 185 -->
	  <add key="diiffer_Url" value="10726;11950;12203;12204;12230;11130;12205;12273;12303;12302;12383;12432;12424"/>
	  <add key="TaxFromResp" value="11950"/>	<!--Taking tax from sale tax response-->
	  <add key="differentfile" value="11481;12302"/>
	  <add key="AllowCBD" value="11920;12704"/>
	  <add key="IncludeContainers" value="12383"/>
	  <add key="Includedeposit" value="12405"/>
	  <add key="Beerdeposit" value="12444"/>
	  <add key="AppendArticleUPCs" value="12704"/>



	  <add key="KoronaBaseUrl185" value="https://185.koronacloud.com/"/>
    <add key="KoronaBaseUrl" value="https://167.koronacloud.com/"/>
    <!--<add key="KoronaAccessToken" value = "Basic Ym90dGxlY2FwcHMgOmxnb2ZlcjEyIw=="/>-->
    <!--<add key="KoronaApiUrl" value = "accounts/b2bdb0c7-e520-4cd7-8ae2-f41160798e40/"/>-->
    <add key="KoronaApiUrl" value="accounts/"/>
    <!--<add key="KoronaAccessToken1" value = "Basic YW5hbmQ6YW5hbmQ="/>
    <add key="KoronaApiUrl1" value="accounts/2f71b3e3-de74-445c-90b7-f43fad5bbaf4/"></add>
    <add key="KoronaAccessToken2" value = "Basic a3lsZTpreWxl"/>
    <add key="KoronaApiUrl2" value="accounts/f3eaeaa4-1b4f-4fd2-a63f-eaadf5bd51cc/"></add>-->
	  <!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = true;MultipleActiveResultSets=True"/>-->
	<!--<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>-->
	  <add key="LiquorAppsConnectionString" value="Data Source=liquor-new.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=stagingliquorapps;User ID=sourabh;Password=Sourabh@2775;MultipleActiveResultSets=True" />
    </appSettings>
<system.net>
    <mailSettings>
      <!--<smtp from="no-reply@bottlecapps.com">
        <network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAI4OQ7HMFKRWEFMZQ" password="AiS+n6vcaYBfUGyjmdsrptMp8VddmpJ4yvfHyhmi2wOH" enableSsl="true"/>
      </smtp>-->
      <smtp deliveryMethod="Network" from="no-reply@bottlecapps.com">
        <!--<network host="smtp.gmail.com" port="465" userName="thirupathip.446@gmail.com" password="9618509859" enableSsl="true" />-->
        <network host="smtp.gmail.com" port="587" userName="ak9766733@gmail.com" password="******" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
